html {
  font-size: 16px;
}

body {
  background-color: #151617;

}

.app {
  text-align: center;
}

.app-logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 1.5rem;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.movie-empty {
  min-height: 100vh;
}

.movie-selected {
  animation: headerAnim 0.5s;
}

@keyframes headerAnim {
  from {
    min-height: 100vh;
  }

  to {
    min-height: 0vh;
  }
}

.movie-dropdown {
  height: 3.6rem;
  border-radius: 0.5rem;
  background-color: #2f343c;
  outline: none;
  color: #fff;
  font-size: 1.3rem;
  padding: 0 1.2rem;
}

.opening-crawl {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffec00;
  line-height: 2.8rem;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
}

.content-table table {
  color: #fff;
}

table {
  background-color: #1f2123;
  padding: 2rem;
  border-radius: 0.5rem;

}

table tr td {
  line-height: 2rem;
  font-size: 1.2rem;
}

table tr {
  text-align: left;
}

table tbody tr:nth-child(odd) {
  background-color: #2d2c2c;
}

table td,
table th {
  padding: 0.4rem 1.2rem;
}

table th {
  font-size: 1rem;
  padding-bottom: 1.2rem;
  cursor: pointer;
}

.filter-img {
  width: 1.2rem;
}

.total-text {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffec00;
  line-height: 2.8rem;
}

.gender-filter {
  text-align: right;
  margin-bottom: 1rem;
}

.gender-filter span {
  color: #fff;
  padding-right: 1rem;
}

.gender-filter select {
  outline: none;
  height: 2rem;
  width: 10rem;
  font-size: 1.1rem;
  background-color: #2f343c;
  color: #fff;
  border-radius: 0.3rem;
}

.loader-gif {
  width: 2.2rem;
}

@media only screen and (max-width: 600px) {
  .movie-dropdown {
    width: 300px;
  }
  .opening-crawl {
    width: calc(100% - 100px);
  }
  .content-table {
    padding: 0 1rem !important;
  }
  table {
    padding: 0.2rem 1.2rem;
  }
}

@media only screen and (min-width: 601px) {
  .movie-dropdown, .opening-crawl {
    width: 500px;
  }
  .content-table {
    width: 500px;
    padding: 0 1rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .movie-dropdown {
    width: 560px
  }

  .opening-crawl,
  .content-table,
  table {
    width: 700px;
  }
}